.form {
  width: 55vw;
  height: 83vh;
  margin-left: 20vw;
  margin-top: 5vh;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px;
  padding-top: 6vh;
  padding-left:3vh;
  padding-right: 3vh;
  background: #fff;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding: 3vh;
  padding-bottom: 5vh;
}

.card-login-btn {
  width: 27vw;
  border-radius: 6px;
  margin-left: 14vw;
  margin-top: 8vh;
  background-color: #000000;

}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

.login-btn {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  /*line-height: 1.2;*/
  /*text-transform: uppercase;*/

  /*display: -webkit-box;*/
  /*display: -webkit-flex;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 27vw;
  height: 4vh;
}

.login-btn:hover {
  background-image: linear-gradient(135deg, #000000, #0b5697, #000000);
  cursor: pointer;
  border-radius: 6px;
}

.card-input {
  border-bottom: 2px solid #DBD8D0;
  padding-bottom: 1vh;
  margin-bottom: 3vh;
  margin-left: 14vw;
  margin-right: 14vw;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

.field-icon {
  float: right;
  padding-top: 1em;
}

.password-box {
  display:flex;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

.input-label {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  padding-left: 7px;
}

.input {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 23vw;
  height: 55px;
  background: transparent;
  padding-left: 5%
}




