body, html {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  background: url("src/assets/backgroundModified.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  width: 55vw;
  height: 83vh;
  margin-left: 20vw;
  margin-top: 5vh;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px;
  padding-top: 3vh;
  padding-left:3vh;
  padding-right: 3vh;
  background: #fff;
  position: relative;
}

.header {
  margin-top: 0;
}

.mat-icon {
  color: #B4B8B8;
  transform: scale(3);
}

.mat-menu-item {
  font-size: 2vh;
}

.user {
  color: #B4B8B8;
  margin-left: 17vw;
  font-size: 2em;
  padding: 0;
  margin-right: 13vw
}

.current-lab {
  background: #0b5697;
  color: #ffffff;
  font-size: 2.5vh;
  border-radius: 20px;
  margin-top: 2vh;
}

.next-lab {
  background: #72ABD6;
  color: #ffffff;
  font-size: 2.5vh;
  border-radius: 20px;
  margin-top: 2vh;
}

.lab-list {
  background: #ffffff;
  color: #000000;
  font-size: 2.5vh;
  border-radius: 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  max-height: 30vh;
  overflow-y: scroll;
}

.no-lab {
  font-size: 2vh;
}

.demo-btn {
  width: 27vw;
  border-radius: 6px;
  margin-left: 0;
  margin-bottom: 0;
}

.demo-button {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  padding: 0;
  width: 55vw;
  height: 4vh;
  background: #000000;
  border-radius: 6px;
}

.demo-button:hover {
  background-image: linear-gradient(135deg, #000000, #0b5697, #000000);
  cursor: pointer;
  border-radius: 6px;
}

.demotable {
  position: absolute;
  top: 30vh;
  margin-left: 30vw;
  border-radius: 8px;
  border: 5px solid #0b5697;
  max-height: 40vh;
  overflow-y: scroll;
}

.mat-table {
  width: 35vw;
  overflow:hidden !important;
}

.mat-cell {
 font-size: 1em;
}

.mat-header-cell {
  font-size: 1em;
}

.leave-btn {
  background-color: #000000;
  color: #ffffff;
}

.blur {
  top: 0;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
  display: inline-block !important;
  position: absolute;
}

.mark {
  font-family: Helvetica, sans-serif;
  font-size: 2vh;
}
