/*body {*/
/*  background-color: #4ca1af;*/
/*  background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%)*/
/*}*/


/*.lab-lists {*/
/*  margin: 10em;*/
/*  !*background-color: black;*!*/
/*  !*color: red;*!*/
/*}*/

/*.mat-row {*/
/*  height: auto;*/
/*}*/

.mat-cell {
  padding: 10px 10px 10px 0;
}

table.mat-table {
  margin-left: 15em !important;
  margin-top: 5em;
}
/*table {*/
/*  border-spacing: 10px !important;*/
/*}*/
.demo-label {
  color: crimson;
}

#body-content {overflow: hidden;}


.current-lab {
  float: left;
}

.side-panel {
  height: 100vh;
}

/*.mat-drawer {*/
/*  height: 100vh;*/
/*  border-right: 10px solid black;*/

/*}*/

.mat-drawer.mat-drawer-side {
  border-right: 2px solid black;
  height: 100vh;
}

.mark {
  float: right;
}
.mat-drawer-content {
  height: 100vh;
}

.current-lab-obj {

  /*max-width: 100px;*/
  border: 10px outset #AACCFF;
  border-radius: 50%;
  /*margin: 10px;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10vw;
  margin-left: 30vw;
  /*display:block;*/
  /*list-style: none;*/
  /*float: left;*/
  padding: 60px;
  height: 8em;
  width: 9em;
}

.current-lab-label{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-left: 30vw;
}

.next-lab-label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.next-lab {
  overflow: hidden;
}

.next-lab-obj {
  /*max-width: 100px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 10px inset #AACCFF;
  border-radius: 50%;
  /*margin: 10px;*/
  /*margin-right: 10vw;*/
  margin: 20px;
  /*list-style: none;*/
  padding: 30px;
  height: 6em;
  width: 6em;
  outline: 2px solid black;
  /*overflow:hidden;*/
}

.next-lab-obj:before {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}

label {
  display: block;
}
/*.label{*/
/*  overflow:hidden;*/
/*}*/

/*.lab-lists.td {*/
/*  display: block;*/
/*}*/


.container {
  background-color: #ffffff;
  color:#000000;
  height: 100vh;
  /*border-left: 10px solid black;*/
  box-shadow: 0 0 1px #fff inset
}

.demo-button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  /*margin: auto;*/
  background-color: #AACCFF;
  /*background-image: linear-gradient(135deg, #AACCFF, #362E4A, #AACCFF);*/
  color: black;
  border-radius: 10px;
  padding: 10px 50px;
  border-color: #151526;
  margin-left: 32vw;
  margin-top: 10vh;
}

.demoBtn {
  clear:both;
  /*padding: 20px;*/
  /*float: none;*/
  /*position: static;*/
}

/*html, body {*/
/*  background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);*/
/*}*/

